JENKINS_URL=http://host.docker.internal:2000 //can be any port as per your local configuration
JENKINS_USER=(USER_NAME)
JENKINS_TOKEN=(USER_TOKEN)
JENKINS_JOB=(JOB_NAME)
GROQ_API_KEY=(API_KEY)
DB_PATH=/app/data/scans.db
